/*.txt
*.bin
/.vscode

content/*/*
content/_toolsautosave
content/core
content/dota
!content/dota_addons/xeno_free

/EmptySteamDepot

game/*/*
game/*.txt
game/_toolsettings
game/bin
game/core
game/dota
game/dota_koreana
game/dota_lv
game/dota_russian
game/dota_schinese
!game/dota_addons/xeno_free
