/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.MainChoise
{
	width: 100%;
	height: 100%;
}

.Cards
{
	align: center center;
	flow-children: right;
	margin-bottom: 130px;
}

@keyframes 'CardAnimationOpen'
{
	0%
	{
		transform: translate3d( 0, 0, 0px );
		opacity: 1;
	}
	
	100%
	{
		transform: translate3d( 0, 10%, 0px );
		opacity: 0;
	}
	
	80%
	{
		opacity: 0;
	}
	
}

@keyframes 'CardAnimationClose'
{
	100%
	{
		transform: translate3d( 0, 0, 0px );
		opacity: 1;
	}
	
	0%
	{
		transform: translate3d( 0, 10%, 0px );
		opacity: 0;
	}
	
	20%
	{
		opacity: 0;
	}
	
}

@keyframes 'CardAnimationChosen'
{
	100%
	{
		opacity: 1;
	}
	
	0%
	{
		opacity: 0;
	}
	
}

@keyframes 'AlertShow'
{
	0%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

@keyframes 'AlertHide'
{
	100%
	{
		opacity: 1;
	}
	
	0%
	{
		opacity: 0;
	}
	
}

.alert_window_show
{
	animation-name: AlertShow;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: reverse;
	width: 672px;
	height: 108px;
	opacity: 0;
	background-color: rgba(10, 10, 10, 0.98);
	align: center top;
	border: 1px solid #f7942b;
	margin-top: 10%;
}

.alert_window
{
	width: 672px;
	height: 108px;
	opacity: 1;
	background-color: rgba(10, 10, 10, 0.98);
	align: center top;
	border: 1px solid #f7942b;
	margin-top: 10%;
}

.alert_window_hide
{
	animation-name: AlertHide;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: reverse;
	width: 672px;
	height: 108px;
	opacity: 1;
	background-color: rgba(10, 10, 10, 0.98);
	align: center top;
	border: 1px solid #f7942b;
	margin-top: 10%;
}

.alert_text
{
	font-size: 21px;
	text-align: center;
	align: center center;
	text-overflow: shrink;
	color: #e7e7e7;
	margin-left: 3%;
	font-family: Radiance;
	text-shadow: 1px 1px 1px 2.5 black;
	font-weight: bold;
}

.card
{
	animation-name: CardAnimationClose;
	animation-duration: 0.45s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: reverse;
	width: 580px;
	height: 700px;
	z-index: 0;
	vertical-align: center;
	visibility: collapse;
}

.card_chosen
{
	animation-name: CardAnimationChosen;
	animation-duration: 0.4s;
	animation-delay: 0.2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: reverse;
	width: 580px;
	height: 700px;
	z-index: 0;
	vertical-align: center;
	visibility: collapse;
}

.cardOpen
{
	animation-name: CardAnimationOpen;
	animation-duration: 0.45s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: reverse;
	width: 580px;
	height: 700px;
	z-index: 0;
	vertical-align: center;
	visibility: collapse;
}

.card_3_3
{
	margin-left: -120px;
}

.card_4_4
{
	margin-left: -190px;
}

.card_1_3_43
{
	margin-left: -30px;
}

.card_3_3_43
{
	margin-left: -120px;
}

.card_1_4_43
{
	margin-left: -90px;
}

.card_4_4_43
{
	margin-left: -230px;
}

@keyframes 'ButtonAnimationOpen'
{
	0%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
	}
	
	80%
	{
		opacity: 0;
	}
	
}

@keyframes 'ButtonAnimationClose'
{
	100%
	{
		opacity: 1;
	}
	
	0%
	{
		opacity: 0;
	}
	
	20%
	{
		opacity: 0;
	}
	
}

.ClosePanel
{
	animation-name: ButtonAnimationClose;
	animation-duration: 0.45s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: reverse;
	visibility: collapse;
	width: 1920px;
	height: 1080px;
}

.ClosePanelOpen
{
	animation-name: ButtonAnimationOpen;
	animation-duration: 0.45s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: reverse;
	width: 1920px;
	height: 1080px;
	visibility: collapse;
}

.CloseButton
{
	align: center center;
	margin-top: 500px;
	width: 192px;
	height: 54px;
	background-image: url("s2r://panorama/images/custom_game/close_button_png.vtex");
	background-repeat: no-repeat;
	box-shadow: fill red 0px 0px 12px -5px;
}

.RefreshButton
{
	align: center center;
	margin-top: 630px;
	width: 192px;
	height: 54px;
	visibility: collapse;
	background-image: url("s2r://panorama/images/custom_game/refresh_button_png.vtex");
	background-repeat: no-repeat;
	box-shadow: fill green 0px 0px 12px -5px;
}

.refresh_text
{
	font-family: defaultFont;
	font-weight: bold;
	color: #e7e7e7;
	text-shadow: 1px 1px 2px 4 black;
	font-size: 28px;
	align: center center;
	margin-top: 10%;
	text-align: center;
}

.close_text
{
	font-family: defaultFont;
	font-weight: bold;
	color: #e7e7e7;
	text-shadow: 1px 1px 2px 4 black;
	font-size: 28px;
	align: center center;
	margin-top: 10%;
	text-align: center;
}

@keyframes 'CardAnimation'
{
	0%
	{
		opacity: 1;
	}
	
	25%
	{
		opacity: 0.3;
	}
	
	50%
	{
		opacity: 1;
	}
	
	75%
	{
		opacity: 0.05;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

.blur
{
	width: 540px;
	height: 620px;
	margin-right: 10px;
	margin-bottom: 10px;
	align: center center;
	background-size: contain;
	animation-name: CardAnimation;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	transition-property: opacity, transform;
	transition-duration: .24s;
}

.card_body
{
	width: 343px;
	height: 474px;
	z-index: 1;
	visibility: visible;
	align: center center;
	background-size: contain;
	background-image: url("s2r://panorama/images/custom_game/icons/mini/npc_dota_hero_alchemist/chemical_6_png.vtex");
}

.card_body_skill
{
	width: 70.65px;
	height: 383.18px;
	z-index: 5;
	margin-left: 236.67px;
	align: center center;
	margin-bottom: 238px;
	background-size: contain;
}

.text
{
	font-family: defaultFont;
	font-weight: bold;
	color: #e7e7e7;
	text-shadow: 1px 1px 2px 4 black;
	z-index: 2;
	align: center center;
	margin-top: 156.75px;
	width: 260.68px;
	height: 265.5px;
	text-align: center;
}

.text_stacks
{
	font-size: 32px;
	font-family: defaultFont;
	font-weight: bold;
	color: #e7e7e7;
	text-shadow: 1px 1px 2px 4 black;
	z-index: 2;
	align: center center;
	visibility: collapse;
	margin-top: 535px;
	width: 260.68px;
	height: 256.5px;
	text-align: center;
}

.text_stacks_perma
{
	color: #e7e7e7;
	font-size: 26px;
}

.card_icon
{
	width: 137.2px;
	height: 99.75px;
	z-index: 2;
	align: center center;
	margin-bottom: 282px;
	margin-right: 2px;
}

.card_icon_skill
{
	width: 99.47px;
	height: 99.75px;
	margin-bottom: 282px;
	align: center center;
	z-index: 2;
}

.card_info
{
	width: 60%;
	height: 10%;
	background-color: red;
	align: center bottom;
	margin-bottom: 5%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #222222 ), to( #4B555D ) );
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
	background-size: 100%;
	border: 1px solid #83838390;
	box-shadow: black 0px 0px 8px 0px;
}

.card_info_text
{
	align: center center;
	font-weight: bold;
	color: gradient( linear, 0% 90%, 0% 0%, from( #ffcda1 ), to( #ff9c00 ) );
	font-size: 28px;
	text-shadow: 0px 0px 5px 3.0 #000000;
	font-family: Radiance;
}

.card_info_hover
{
	brightness: 2;
}

