/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.PA_Hunt_Main
{
	width: 100%;
	height: 100%;
}

.PA_Hunt_Panel
{
	width: 200px;
	height: 50px;
	align: center bottom;
	margin-bottom: 165px;
	margin-right: 580px;
	flow-children: right;
}

.PA_Hunt_Panel_hidden
{
	width: 200px;
	height: 50px;
	align: center bottom;
	background-color: red;
	margin-bottom: 170px;
	margin-right: 600px;
	flow-children: right;
	visibility: collapse;
}

.PA_Hunt_Bar
{
	width: 70%;
	height: 65%;
	border: 1px solid #6b4b0c;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5b2020 ), to( #98734e ) );
	vertical-align: center;
	margin-left: 1%;
	flow-children: right;
}

.PA_Hunt_Filler
{
	width: 95%;
	height: 80%;
	background-size: contain;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #c0501a ), to( #f49327 ) );
	margin-left: 2.5%;
	align: left center;
	transition-property: width;
	transition-duration: 0.2s;
}

.PA_Hunt_Icon
{
	width: 30%;
	height: 70%;
	margin-left: 1%;
	background-size: contain;
	vertical-align: center;
	border: 1px solid #5b2020;
}

.PA_Hunt_gold_icon
{
	width: 18%;
	height: 90%;
	margin-left: 1%;
	background-size: contain;
	vertical-align: center;
	background-image: url("s2r://panorama/images/custom_game/gold-logo_png.vtex");
}

.PA_Hunt_gold_number
{
	font-family: defaultFont;
	font-weight: bold;
	color: #e7e7e7;
	text-shadow: 1px 1px 2px 3 black;
	z-index: 8;
	align: left center;
	font-size: 17px;
	margin-left: 2%;
	text-align: center;
}

.PA_Hunt_gold_timer
{
	font-family: defaultFont;
	font-weight: bold;
	color: #e7e7e7;
	text-shadow: 1px 1px 2px 3 black;
	z-index: 8;
	align: right center;
	font-size: 17px;
	margin-right: 10%;
	text-align: center;
}

