/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.CustomBuffPanelMain
{
	width: 100%;
	height: 100%;
}

.BuffPanel
{
	margin-bottom: 15.3%;
	margin-right: 630px;
	align: center bottom;
	height: 36px;
	flow-children: right;
	border: 2px solid black;
	box-shadow: fill black 0px 0px 12px -5px;
}

.Buff
{
	height: 32px;
	width: 32px;
	border-radius: 2px;
}

.BuffIcon
{
	width: 100%;
	height: 100%;
}

.remain_time_count
{
	font-size: 16px;
	color: white;
	text-shadow: 0px 0px 5px 7 black;
	align: left bottom;
	margin-left: 5%;
}

.DisableModifier
{
	saturation: 0;
	wash-color: #777777;
}

.CooldownBorder
{
	width: 100%;
	height: 100%;
	border: 1.5px solid black;
}

.CooldownBorderActive
{
	width: 100%;
	height: 100%;
	border: 1px solid #10e356;
}

#Buff_1_icon
{
	background-image: url("s2r://panorama/images/custom_game/icons/mini/npc_dota_hero_ogre_magi/bloodlust_legendary_1_png.vtex");
	background-size: 100%;
}

#Buff_2_icon
{
	background-image: url("s2r://panorama/images/custom_game/icons/mini/npc_dota_hero_ogre_magi/bloodlust_legendary_2_png.vtex");
	background-size: 100%;
}

#Buff_3_icon
{
	background-image: url("s2r://panorama/images/custom_game/icons/mini/npc_dota_hero_ogre_magi/bloodlust_legendary_3_png.vtex");
	background-size: 100%;
}

#Buff_4_icon
{
	background-image: url("s2r://panorama/images/custom_game/icons/mini/npc_dota_hero_ogre_magi/bloodlust_legendary_4_png.vtex");
	background-size: 100%;
}

#Buff_5_icon
{
	background-image: url("s2r://panorama/images/custom_game/icons/mini/npc_dota_hero_ogre_magi/bloodlust_legendary_5_png.vtex");
	background-size: 100%;
}

#Buff_6_icon
{
	background-image: url("s2r://panorama/images/custom_game/icons/mini/npc_dota_hero_ogre_magi/bloodlust_legendary_6_png.vtex");
	background-size: 100%;
}

