/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.MarciRage_Main
{
	width: 100%;
	height: 100%;
}

.MarciRage_Panel
{
	width: 200px;
	height: 50px;
	align: center bottom;
	margin-bottom: 165px;
	margin-right: 580px;
	flow-children: right;
}

.MarciRage_Panel_hidden
{
	width: 200px;
	height: 50px;
	align: center bottom;
	background-color: red;
	margin-bottom: 170px;
	margin-right: 600px;
	flow-children: right;
	visibility: collapse;
}

.MarciRage_Bar
{
	width: 75%;
	height: 60%;
	border: 1px solid #6b4b0c;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #230c07 ), to( #462828 ) );
	vertical-align: center;
	margin-left: 1%;
}

.MarciRage_Filler
{
	width: 95%;
	height: 80%;
	background-size: contain;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #c0501a ), to( #f49327 ) );
	margin-left: 2.5%;
	align: left center;
	transition-property: width;
	transition-duration: 0.2s;
}

.MarciRage_Icon
{
	width: 17.54%;
	height: 70%;
	margin-left: 1%;
	background-size: contain;
	vertical-align: center;
	border: 1px solid #fbc217;
	background-image: url("s2r://panorama/images/custom_game/icons/mini/npc_dota_hero_marci/unleash_png.vtex");
}

.MarciRage_Number
{
	font-family: defaultFont;
	font-weight: bold;
	color: #e7e7e7;
	text-shadow: 1px 1px 2px 3 black;
	z-index: 8;
	align: center center;
	font-size: 19px;
	text-align: center;
}

