/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.DamageBlockWithButton
{
	align: right top;
	margin-top: 200px;
	flow-children: down;
	width: 200px;
	margin-right: 10px;
	z-index: 5;
	visibility: collapse;
	transition-property: width;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
}

.damage_open
{
	align: right top;
	margin-top: 200px;
	flow-children: down;
	width: 300px;
	margin-right: 10px;
	visibility: collapse;
}

.DamageBlockWithButton_visible
{
	visibility: visible;
}

.ButtonCloseDamage
{
	width: 100%;
	height: 15px;
	background-color: #000000d0;
	border: 1px solid black;
}

.ButtonCloseDamageIcon
{
	align: center center;
	width: 30px;
	height: 30px;
}

.damage_close .ButtonCloseDamageIcon
{
	background-image: url("s2r://panorama/images/control_icons/chevron-sharp-left_png.vtex");
	background-size: 100%;
	transform: rotateZ(-90deg);
	width: 20px;
	height: 50px;
}

.damage_open .ButtonCloseDamageIcon
{
	background-image: url("s2r://panorama/images/control_icons/chevron-sharp-left_png.vtex");
	background-size: 100%;
	transform: rotateZ(90deg);
	width: 20px;
	height: 50px;
}

.damage_close .DamageRoundHistory
{
	height: 0px;
}

.DamageRoundHistory
{
	width: 400px;
	height: 496px;
	flow-children: down;
	background-color: rgba(10, 10, 10, 0.99);
	transition-property: height;
	transition-duration: 0.25s;
	transition-timing-function: ease-out;
}

.Damage_MenuButtons
{
	width: 100%;
	height: 40px;
	flow-children: right;
}

.MenuButton
{
	width: 50%;
	height: 100%;
	border: 2px solid black;
	background-color: #3A444433;
	border-color: #4C575F44;
}

.MenuButton:hover
{
	brightness: 2;
}

.MenuButtonLabel
{
	color: white;
	font-weight: bold;
	align: center center;
	text-shadow: 0px 0px 9px #000000;
}

.button_select
{
	border-color: #98b0c1;
	background-color: #4C575F44;
}

.AllDamageInfo
{
	width: 100%;
	height: 20px;
	background-color: #000000d0;
	flow-children:right;
	border: 1px solid black;
}

.DamagePhys
{
	height: 100%;
	width: 33.33%;
	background-color: #ae2f28;
}

.DamageMagical
{
	height: 100%;
	width: 33.33%;
	background-color: #5b93d1;
}

.DamagePure
{
	height: 100%;
	width: 33.33%;
	background-color: #d8ae53;
}

.AllDamagePercent
{
	align: center center;
	color: white;
}

#DamageAbilities
{
	width: 100%;
	height: 446px;
	overflow: squish scroll;
	flow-children: down;
	visibility: collapse;
}

#DamageAbilitiesIncome
{
	width: 100%;
	height: 446px;
	overflow: squish scroll;
	flow-children: down;
}

#BattlePassTier2Only
{
	width: 100%;
	margin-top: 160px;
	text-align: center;
	color: white;
	font-size: 26px;
	font-weight: bold;
}

.UnitHeroInfo
{
	width: 100%;
	flow-children: right;
	margin: 5px;
	border-bottom: 2px solid #ccc;
}

.UnitDamagePanel
{
	width: 100%;
	horizontal-align: center;
	height: 30px;
	margin-left: 10px;
	flow-children: right;
	margin-top: 5px;
	margin-bottom: 5px;
	tooltip-position: bottom;
	transition-property: transform, position;
	transition-duration: 0.25s;
}

.UnitDamageInfoPanel
{
	width: 95%;
	height: 100%;
}

#DamageLineBG
{
	width: 95%;
	vertical-align: center;
}

#DamageLineBG2
{
	horizontal-align: left;
	width: 100%;
	margin-left: 5px;
	transition-property: width;
	transition-duration: 0.1s;
}

.DamageLineStart
{
	width: 15px;
	height: 15px;
	vertical-align: center;
	border-radius: 50px;
}

#DamageLine
{
	width: 100%;
	height: 23px;
	vertical-align: center;
	horizontal-align: left;
	border-left: 1px solid #ccc;
}

#DamageUnitLabel
{
	font-weight: bold;
	font-size: 14px;
	color: white;
	align: left center;
	z-index: 10;
	margin-left: 12px;
	text-shadow: 0px 0px 2px #000000;
}

#UnitPortrait
{
	width: 30px;
	height: 30px;
	background-color: gray;
	vertical-align: center;
}

.UnitPortrait_hero
{
	width: 30px;
	height: 30px;
}

.UnitHeroInfoAbilities
{
	flow-children: down;
	width: 100%;
}

.UnitDamageInfoPanelIncome
{
	width: 95%;
	height: 20px;
}

.DamageLineInc
{
	width: 100%;
	height: 17px;
	vertical-align: top;
	horizontal-align: left;
	border-left: 1px solid #ccc;
}

#DamageLineBGPhys
{
	width: 95%;
}

#DamageLineBG2Phys
{
	horizontal-align: left;
	width: 100%;
	margin-left: 5px;
	transition-property: width;
	transition-duration: 0.1s;
}

#DamageUnitLabelPhys
{
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	align: left top;
	z-index: 10;
	margin-left: 12px;
	text-shadow: 0px 0px 5px #000000;
}

#DamageLineBGMagic
{
	width: 95%;
}

#DamageLineBG2Magic
{
	horizontal-align: left;
	width: 100%;
	margin-left: 5px;
	transition-property: width;
	transition-duration: 0.1s;
}

#DamageUnitLabelMagic
{
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	align: left top;
	z-index: 10;
	margin-left: 12px;
	text-shadow: 0px 0px 5px #000000;
}

#DamageLineBGPure
{
	width: 95%;
}

#DamageLineBG2Pure
{
	horizontal-align: left;
	width: 100%;
	margin-left: 5px;
	transition-property: width;
	transition-duration: 0.1s;
}

#DamageUnitLabelPure
{
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	align: left top;
	z-index: 10;
	margin-left: 12px;
	text-shadow: 0px 0px 5px #000000;
}

