/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

#DebugPanel,#DedicatedKey
{
	horizontal-align: right;
	vertical-align: center;
	background-color: rgb( 33, 33, 33 );
	margin-right: 40px;
	flow-children: down;
}

.Hud
{
	margin-top: 50%;
	width: 20%;
	height: 20%;
}

#DedicatedKey
{
	horizontal-align: center;
	margin-right: 0px;
}

#DedicatedKeyEntry
{
	height: 30px;
	width: 200px;
}

#DebugPanel #Header
{
	width: 100%;
	padding: 4px;
}

#DebugPanel #Header Label
{
	horizontal-align: center;
	vertical-align: center;
	color: white;
	font-size: 24px;
}

#DebugPanel #Header Button,#DedicatedKey Button
{
	horizontal-align: right;
	vertical-align: center;
	width: 24px;
	height: 24px;
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
	background-size: 100%;
}

#ErrorContainer
{
	width: 450px;
	height: 600px;
	margin: 5px;
	overflow: clip scroll;
	flow-children: down;
}

#ErrorContainer Label,#DedicatedKey Label
{
	color: white;
	font-size: 17px;
	padding: 3px;
	margin-right: 8px;
}

#ErrorContainer VerticalScrollBar
{
	horizontal-align: right;
	width: 8px;
	height: 100%;
	transition-property: transform;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
	layout-position: fixed;
}

#ErrorContainer #ScrollThumb
{
	min-height: 90px;
	background-color: white;
	width: 8px;
	transition-property: transform, position;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

