/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define ANIM_TIME: 0.75s;
@define EXTRA_PADDING: 50px;
@define M_EXTRA_PADDING: -50px;
.CustomHudRoot
{
	width: 100%;
	height: 100%;
	opacity: 1;
}

#AegisIndicator
{
	width: 35px;
	height: 35px;
	background-image: url("s2r://panorama/images/items/topbar/aegis_psd.vtex");
	background-size: 100%;
	align: right top;
	visibility: collapse;
}

#BuybackIndicator
{
	width: 25px;
	height: 25px;
	background-image: url("s2r://panorama/images/custom_game/no_buyback_png.vtex");
	background-size: 100%;
	align: left bottom;
	margin-top: 30%;
	visibility: collapse;
}

.LevelIndicator
{
	width: 20px;
	height: 20px;
	background-image: url("s2r://panorama/images/custom_game/hero_level_0_png.vtex");
	background-size: contain;
	visibility: collapse;
	align: right center;
	z-index: 933999;
	margin-top: 12px;
}

#PurpleIndicator
{
	width: 25px;
	height: 25px;
	background-image: url("s2r://panorama/images/custom_game/no_purple_png.vtex");
	background-size: 100%;
	align: left top;
	visibility: collapse;
}

#ParticleAegis
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

@keyframes 'TopBarShow'
{
	0%
	{
		transform: translate3d( 0, 0, 0px );
		opacity: 1;
	}
	
	100%
	{
		transform: translate3d( 0%, -30%, 0px );
		opacity: 0;
	}
	
}

.TopBarScoreboard
{
	margin-left: 180px;
	margin-top: 0px;
	horizontal-align: left;
	vertical-align: top;
	animation-name: TopBarShow;
	animation-duration: 0.75s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: reverse;
}

.TopBarScoreboard_hidden
{
	opacity: 0;
}

.AspectRatio4x3 .TopBarScoreboard
{
	margin-left: 225px;
}

#ScoreboardContainer
{
	flow-children: right;
	horizontal-align: left;
	vertical-align: top;
}

#MultiteamScoreboard
{
	horizontal-align: left;
	vertical-align: top;
	height: 250px;
	padding-left: EXTRA_PADDING;
	padding-right: EXTRA_PADDING;
	flow-children: right;
}

.ScoreboardTeamWrapper
{
	height: 100%;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	transition-property: position;
	transition-duration: ANIM_TIME;
	margin-left: M_EXTRA_PADDING;
	margin-right: M_EXTRA_PADDING;
}

#TeamLogo
{
	horizontal-align: left;
	vertical-align: top;
	width: 24px;
	height: 24px;
}

.ScoreboardTeamWrapper.no_players
{
	visibility: collapse;
}

#ScoreboardTeam
{
	margin-left: EXTRA_PADDING;
	margin-right: EXTRA_PADDING;
	padding-left: 2px;
	padding-right: 2px;
}

.AspectRatio4x3 .ScoreboardTeamWrapper
{
	padding-left: -5px;
	padding-right: -5px;
}

.ScoreboardTeamWrapper.team_getting_worse
{
	animation-duration: ANIM_TIME;
	animation-timing-function: ease-in-out;
	animation-name: GettingWorseAnim;
	z-index: -100;
}

.ScoreboardTeamWrapper.team_getting_better
{
	animation-duration: ANIM_TIME;
	animation-timing-function: ease-in-out;
	animation-name: GettingBetterAnim;
	z-index: 100;
}

@keyframes 'GettingWorseAnim'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

@keyframes 'GettingBetterAnim'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.05;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

#LogoAndScore
{
	height: 100%;
	width: 90px;
	margin-top: 2px;
}

#TeamScore
{
	vertical-align: bottom;
	vertical-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #ffc600;
	font-family: defaultFont;
	text-shadow: 2px 2px 2px black;
	margin-top: 41px;
	margin-left: 24px;
	text-overflow: clip;
}

#TeamDarkenWash
{
	width: 100%;
	height: 42px;
	visibility: collapse;
	background-color: gradient( linear, 25px 0%, 40px 0%, from( black ), to( transparent ) );
}

#TeamStatus
{
	width: 100%;
	height: 100%;
}

#PlayersContainer
{
	padding-left: 0px;
	flow-children: right;
}

#TeamOverlayBar
{
	width: 100%;
	height: 70px;
}

#LocalTeamOverlay
{
	width: 100%;
	margin-left: 5px;
	height: 82px;
}

.ScoreboardTeamWrapper.local_player_team #LocalTeamOverlay
{
	box-shadow: -3px 0px 12px 0px #FFFFFF88;
}

.ScoreboardTeamWrapper.has_streak #LocalTeamOverlay
{
	box-shadow: -3px 0px 13px 0px #f47b06;
}

.ScoreboardPlayer
{
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.FlowDown
{
	flow-children: down;
}

.PlayerPortraitWrapper
{
	flow-children: down;
}

#PlayerColorBar
{
	height: 0px;
	width: 100%;
	border-bottom: 1px solid #000000;
}

#HeroIcon
{
	width: 80px;
	border: 1px solid #000000;
	height: 48px;
}

.player_dead #HeroIcon
{
	wash-color: #CCCCCC;
	saturation: 0;
}

.player_connection_abandoned #HeroIcon
{
	wash-color: #FF0000;
	saturation: 0;
}

#DisconnectionIndicator
{
	opacity: 0;
	width: 100%;
	height: 25px;
	vertical-align: center;
}

.player_connection_abandoned #DisconnectionIndicator,.player_connection_failed #DisconnectionIndicator,.player_connection_disconnected #DisconnectionIndicator
{
	opacity: 1;
}

#ScoreRow
{
	width: 100%;
}

#RespawnIndicator
{
	margin-top: 63px;
	width: 42px;
	height: 49px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("s2r://panorama/images/custom_game/deathtimer_background_psd.vtex");
	horizontal-align: center;
	transform: translateY(-30px);
	opacity: 0;
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

#RespawnTimer
{
	color: #e5460e;
	width: 100%;
	text-align: center;
	vertical-align: bottom;
	margin-bottom: 4px;
	font-size: 18px;
	text-shadow: 2px 2px 2px black;
}

.ScoreboardPlayerWrapper.player_dead #RespawnIndicator
{
	opacity: 1;
	transform: translateY(0px);
}

#LocalPlayerIndicator
{
	horizontal-align: center;
	vertical-align: bottom;
	visibility: collapse;
	width: 40px;
	height: 20px;
}

#UltimateIndicatorContainer
{
	horizontal-align: center;
	width: 20px;
	height: 20px;
	margin-top: 32px;
	visibility: collapse;
}

.player_ultimate_not_leveled #UltimateIndicatorContainer
{
	visibility: collapse;
}

.not_local_player_team #UltimateIndicatorContainer
{
	visibility: collapse;
}

.UltimateIndicatorShared
{
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.is_local_player #LocalPlayerIndicator
{
	visibility: visible;
}

.BlackScreen
{
	margin-top: 45px;
	background-color: black;
	width: 100%;
	background-image: url("s2r://panorama/images/custom_game/blacklayer_png.vtex");
	height: 40px;
}

.GoldLogo
{
	background-image: url("s2r://panorama/images/custom_game/gold-logo_png.vtex");
	background-size: contain;
	width: 18px;
	height: 18px;
	align: left top;
	margin-left: 2px;
	margin-top: 3px;
	z-index: 10;
}

.PurpleLogo
{
	background-image: url("s2r://panorama/images/custom_game/purple-logo_png.vtex");
	background-size: contain;
	width: 21px;
	height: 21px;
	margin-top: 16px;
	vertical-align: center;
	margin-left: 2px;
	z-index: 10;
}

.PurpleText
{
	vertical-align: bottom;
	vertical-align: center;
	font-size: 18px;
	font-weight: bold;
	font-family: defaultFont;
	text-shadow: 4px 4px 4px black;
	margin-top: 18px;
	align: center center;
	text-overflow: clip;
}

.RedText
{
	color: red;
}

.GreenText
{
	color: green;
}

