/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.MainPoints
{
	width: 100%;
	height: 100%;
}

.AllPointsAndInfo
{
	width: 276.15px;
	height: 180px;
	align: right center;
	margin-top: 72.3%;
	visibility: visible;
	z-index: 5;
	flow-children: right;
}

.Dota1x6
{
	align: left bottom;
}

.Dota1x6_right
{
	align: right bottom;
}

.Dota1x6_large
{
	width: 270px;
	height: 40px;
	margin-bottom: 277px;
}

.Dota1x6_small
{
	width: 240px;
	height: 40px;
	margin-bottom: 241px;
}

.Dota1x6_text
{
	font-family: Radiance;
	font-weight: semi-bold;
	color: #e7e7e7;
	font-size: 26px;
	text-shadow: 1px 1px 3px 2 black;
	align: center center;
	text-align: center;
	letter-spacing: 10px;
	text-transform: uppercase;
	color: gradient( linear, 0% 100%, 0% 0%, from( #999999 ), to( #ffffff ) );
}

.AllPointsAndInfo_left
{
	width: 276.15px;
	height:150px;
	align: left center;
	margin-top: 72.3%;
	visibility: visible;
	z-index: 5;
	flow-children: left;
}

.PointInfo
{
	height: 96.87px;
	width: 39.98px;
}

.ButtonInfo
{
	height: 30%;
	width: 73%;
	margin-top: 60.5%;
	margin-left: 27%;
	background-image: url("s2r://panorama/images/custom_game/info_png.vtex");
	background-size: 100%;
}

.AllPoints
{
	width: 85.49%;
	height: 100%;
	visibility: visible;
	z-index: 5;
	flow-children: down;
}

.Points
{
	background-image: url("s2r://panorama/images/custom_game/blue_points_png.vtex");
	background-size: 100%;
	width: 90%;
	height: 19.4%;
	margin-top: 5%;
	margin-left: 4%;
	visibility: visible;
	background-color: gray;
	z-index: 5;
}

.PurplePoints
{
	background-image: url("s2r://panorama/images/custom_game/purple_points_png.vtex");
	background-size: 100%;
	width: 90%;
	height: 19.4%;
	margin-top: 6%;
	margin-left: 4%;
	visibility: visible;
	background-color: gray;
	z-index: 5;
}

.Progress
{
	transition-property: width;
	transition-duration: 0.5s;
	background-image: url("s2r://panorama/images/custom_game/blue_progress_png.vtex");
	width: 95%;
	height: 84%;
	margin-top: 11%;
	margin-left: 2.5%;
	visibility: visible;
	z-index: 5;
}

.PurpleProgress
{
	transition-property: width;
	transition-duration: 0.5s;
	background-image: url("s2r://panorama/images/custom_game/purple_progress_png.vtex");
	background-size: 100%;
	width: 95%;
	height: 84%;
	margin-top: 11%;
	margin-left: 2.5%;
	visibility: visible;
	z-index: 5;
}

.ProgressFull
{
	width: 95%;
	height: 84%;
	margin-top: 8%;
	margin-left: 2.5%;
	visibility: visible;
	z-index: 5;
}

.Number
{
	font-family: monospaceNumbersFont;
	font-weight: bold;
	color: #e7e7e7;
	text-shadow: 1px 1px 2px 3 black;
	z-index: 8;
	align: center center;
	font-size: 23px;
	text-align: center;
}

.Grenade_count
{
	width: 250px;
	height: 40px;
	align: right center;
	flow-children: right;
}

.Grenade_count_hidden
{
	width: 250px;
	height: 40px;
	align: right center;
	flow-children: right;
	opacity: 1;
}

.Grenade_count_Bar
{
	width: 75%;
	height: 60%;
	border: 1px solid #d0a9b5;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #28163d ), to( #4e2d75 ) );
	vertical-align: center;
	margin-left: 1%;
}

.Grenade_count_Filler
{
	width: 96%;
	height: 75%;
	background-size: contain;
	background-color: gradient( linear, 100% 100%, 100% 0%, from( #5e5453 ), to( #ffebfc ) );
	margin-left: 1.5%;
	align: left center;
	transition-property: width;
	transition-duration: 0.2s;
}

.Grenade_count_Icon
{
	width: 13.3%;
	height: 80%;
	margin-left: 1%;
	background-size: contain;
	vertical-align: center;
	border: 1px solid #d0a9b5;
	background-image: url("s2r://panorama/images/custom_game/grenade_count_png.vtex");
}

.Grenade_count_Number
{
	font-family: defaultFont;
	font-weight: bold;
	color: #e7e7e7;
	text-shadow: 1px 1px 2px 3 black;
	z-index: 8;
	align: center center;
	font-size: 18px;
	text-align: center;
}

.HeroQuest
{
	width: 63%;
	margin-right: 7%;
	height: 44px;
	background-color: rgba(10, 10, 10, 0.95);
	flow-children: right;
	border-left: 1.5px solid #c2bfbc77;
	border-right: 1.5px solid #c2bfbc77;
	border-radius: 4px;
	horizontal-align: right;
	transition-property: width;
	transition-duration: 0.2s;
}

.HeroQuest_hidden
{
	opacity: 0;
}

.HeroQuest:hover
{
	brightness: 2;
}

.HeroQuest_icon
{
	width: 34px;
	height: 34px;
	background-size: contain;
	border-radius: 50%;
	margin-right: 8px;
	border: 1px solid #eee;
	box-shadow: inset #000000aa 0px 2px 1px 2px;
	align: right center;
}

.HeroQuest_complete
{
	border: 2.5px solid #2bff53;
}

.HeroQuest_text_panel
{
	width: 66%;
	height: 100%;
}

.HeroQuest_text
{
	font-family: Radiance;
	font-weight: bold;
	color: #ddd;
	text-shadow: 1px 1px 2px 3 black;
	z-index: 8;
	align: center center;
	font-size: 21px;
	text-align: center;
	text-overflow: shrink;
}

