/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@keyframes 'TimerAnimationClose'
{
	100%
	{
		transform: translate3d( 0, 0, 0px );
		opacity: 1;
	}
	
	0%
	{
		transform: translate3d( -10%, 0, 0px );
		opacity: 0;
	}
	
	20%
	{
		opacity: 0;
	}
	
}

@keyframes 'TimerAnimationShow'
{
	0%
	{
		transform: translate3d( 0, 0, 0px );
		opacity: 1;
	}
	
	100%
	{
		transform: translate3d( -30%, 0, 0px );
		opacity: 0;
	}
	
}

.Timer_hidden
{
	opacity: 0;
}

.Timer_hide
{
	animation-name: TimerAnimationClose;
	animation-duration: 0.75s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: reverse;
}

.Timer_show
{
	animation-name: TimerAnimationShow;
	animation-duration: 0.75s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: reverse;
}

.MainTimer
{
	width: 100%;
	height: 100%;
}

.AllTimer
{
	width: 460px;
	height: 106px;
	margin-top: 10%;
	margin-left: 1%;
	visibility: visible;
	z-index: 5;
	flow-children: down;
}

.EncounterWave
{
	width: 100%;
	height: 100%;
	margin-top: 0%;
	margin-left: 0%;
	visibility: visible;
	z-index: 5;
	flow-children: right;
}

.WaveNumber
{
	width: 12%;
	height: 53%;
	margin-left: 0%;
	align: center center;
	flow-children: right;
	border-radius: 8px;
}

.WaveNumber_normal
{
	border: 1px solid #888;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #292929 ), to( #2e374b) );
}

.WaveNumber_purple
{
	border: 1px solid #888;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #14032d ), to( #3f0e86) );
}

.WaveNumber_orange
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #b34300 ), to( #d99900) );
	border: 2px solid #d98a00;
}

.WaveNumber_Text
{
	font-family: defaultFont;
	font-weight: bold;
	color: #e7e7e7;
	text-shadow: 1px 1px 5px 4 black;
	z-index: 8;
	align: center center;
	font-size: 29px;
	text-align: center;
}

.WaveName_Text
{
	font-family: defaultFont;
	font-weight: bold;
	color: #e7e7e7;
	text-shadow: 1px 1px 2px 3 black;
	z-index: 8;
	font-size: 21px;
	margin-left: 2%;
	text-align: left;
	vertical-align: bottom;
	width: 85%;
}

.TimerAndName
{
	width: 88%;
	height: 100%;
	flow-children: down;
}

.TimerTop
{
	width: 100%;
	height: 35%;
	flow-children: right;
}

.TimerBottom
{
	width: 100%;
	height: 35%;
	flow-children: right;
}

.TimerBar
{
	width: 100%;
	height: 30%;
	visibility: visible;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000 ), to( #282828) );
	border-right: 2px solid #888;
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
	z-index: 5;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.TimerTime
{
	transition-property: width;
	transition-duration: 0.5s;
	width: 100%;
	height: 74%;
	margin-left: 0%;
	visibility: visible;
	vertical-align: center;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #440000 ), to( #ff0000 ) );
	z-index: 5;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.TimerTimeRed
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #440000 ), to( #ff0000 ) );
}

.TimerTimeGreen
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #279b0c ), to( #0c2f04 ) );
}

.TimerText
{
	font-family: defaultFont;
	font-weight: bold;
	color: #e7e7e7;
	text-shadow: 1px 1px 2px 3 black;
	z-index: 8;
	margin-right: 5px;
	align: right center;
	font-size: 23px;
	text-align: center;
}

.InfoBar
{
	width: 100%;
	height: 60%;
	margin-left: 0%;
	visibility: visible;
	background-color: blue;
	z-index: 5;
	flow-children: right;
}

.Encounter
{
	width: 100%;
	height: 100%;
	margin-top: 0%;
	margin-left: 0%;
	visibility: visible;
	z-index: 5;
	flow-children: down;
}

.EncounterSkill
{
	width: 100%;
	height: 50%;
	margin-top: 0%;
	margin-left: 0%;
	visibility: visible;
	flow-children: right;
}

.SkillsText
{
	font-family: defaultFont;
	color: #e7e7e7;
	text-shadow: 1px 1px 2px 3 black;
	z-index: 8;
	align: left center;
	font-size: 22px;
	text-align: left;
}

.SimpleText
{
	font-family: defaultFont;
	color: #e7e7e7;
	text-shadow: 1px 1px 2px 3 black;
	z-index: 8;
	margin-right: 5px;
	align: left center;
	font-size: 22px;
	text-align: center;
}

.RewardText
{
	font-family: defaultFont;
	color: #e7e7e7;
	text-shadow: 1px 1px 2px 3 black;
	z-index: 8;
	margin-top: 10%;
	align: left center;
	font-size: 22px;
	text-align: center;
}

.SkillIcons
{
	height: 100%;
	width: 50%;
	visibility: visible;
	z-index: 5;
	flow-children: left;
	margin-right: 0.5%;
	horizontal-align: right;
}

.MkbIcon
{
	background-image: url("s2r://panorama/images/custom_game/mkb_png.vtex");
	width: 16%;
	height: 90%;
	margin-left: 1%;
	background-size: contain;
	align: left center;
	visibility: visible;
	border: 1.5px solid #888;
	z-index: 5;
	border-radius: 3px;
}

.SkillIcon
{
	width: 16%;
	height: 90%;
	background-size: contain;
	align: left center;
	border: 1.5px solid #888;
	margin-left: 1.5%;
	visibility: visible;
	border-radius: 3px;
}

.RewardIcon
{
	width: 11.1%;
	height: 90%;
	background-size: contain;
	align: left center;
	border: 1.5px solid #888;
	visibility: visible;
	margin-left: 1.5%;
	z-index: 5;
	border-radius: 3px;
}

.GoldIcon
{
	background-image: url("s2r://panorama/images/custom_game/gold_png.vtex");
	width: 8%;
	height: 90%;
	border: 1.5px solid #888;
	background-size: contain;
	align: left center;
	margin-left: 1%;
	border-radius: 3px;
}

.Reward
{
	width: 100%;
	height: 50%;
	margin-top: 0%;
	margin-left: 0%;
	visibility: visible;
	z-index: 5;
	flow-children: right;
}

.UpgradeWave
{
	width: 10%;
	height: 73%;
	margin-right: 5px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/custom_game/roshan_meteor_png.vtex");
	border: 1px solid #999999;
	background-size: contain;
}

.NecroWave
{
	width: 10%;
	height: 80%;
	background-color: red;
	background-image: url("s2r://panorama/images/custom_game/necrobooksmall_png.vtex");
	border: 1.5px solid #999999;
	background-size: contain;
	vertical-align: center;
	margin-left: 3%;
	margin-top: 5%;
	border-radius: 3px;
}

.UpgradeWaveText
{
	font-family: defaultFont;
	color: #e7e7e7;
	text-shadow: 1px 1px 2px 3 black;
	z-index: 8;
	margin-top: 30%;
	align: left center;
	font-size: 22px;
	text-align: center;
}

@keyframes 'TimerDuelAnimationClose'
{
	100%
	{
		transform: translate3d( -10%, 0, 0px );
		opacity: 0;
	}
	
	0%
	{
		transform: translate3d( 0, 0, 0px );
		opacity: 1;
	}
	
	20%
	{
		opacity: 1;
	}
	
}

.AllDuelTimer
{
	width: 576px;
	height: 120px;
	background-image: url("s2r://panorama/images/custom_game/duel_panel_png.vtex");
	margin-top: 105px;
	margin-left: 20px;
	align: left top;
	z-index: 5;
	flow-children: down;
}

.DuelHeader
{
	width: 100%;
	height: 30%;
	visibility: visible;
	z-index: 5;
}

.DuelHeaderText
{
	font-family: defaultFont;
	font-weight: bold;
	color: #e7e7e7;
	text-shadow: 1px 1px 2px 3 black;
	z-index: 8;
	align: center center;
	font-size: 23px;
	text-align: center;
}

.DuelTimerBar
{
	background-image: url("s2r://panorama/images/custom_game/duel_timer_png.vtex");
	background-size: 100% 90%;
	background-repeat: no-repeat;
	width: 98%;
	margin-left: 1%;
	height: 30%;
	visibility: visible;
	z-index: 5;
}

.DuelTimerTime
{
	background-image: url("s2r://panorama/images/custom_game/duel_time_png.vtex");
	background-repeat: no-repeat;
	transition-property: width;
	transition-duration: 0.5s;
	background-size: 100% 83%;
	width: 99%;
	height: 100%;
	margin-top: 5%;
	margin-left: 0.5%;
	visibility: visible;
	z-index: 5;
}

.DuelTimerText
{
	font-family: defaultFont;
	font-weight: bold;
	color: #e7e7e7;
	text-shadow: 1px 1px 2px 3 black;
	z-index: 8;
	align: center center;
	font-size: 23px;
	margin-bottom: 5%;
	text-align: center;
}

.PanelHidden
{
	opacity: 0;
}

.DuelLowPanel
{
	width: 100%;
	height: 40%;
}

.FinalDuelBot
{
	width: 100%;
	height: 100%;
	margin-left: 0%;
	visibility: visible;
	z-index: 5;
	flow-children: right;
}

.NormalDuelBot
{
	width: 100%;
	height: 100%;
	margin-left: 0%;
	visibility: visible;
	z-index: 5;
	flow-children: right;
}

.NormalDuelHero
{
	width: 71.6px;
	height: 43px;
	background-size: 100%;
	margin-left: 0%;
	visibility: visible;
	margin-left: 11%;
	border: 1.5px solid #ccc;
	border-radius: 2px;
}

.NormalDuelHeroRight
{
	width: 71.6px;
	height: 43px;
	background-size: 100%;
	margin-left: 0%;
	visibility: visible;
	margin-left: 2.2%;
	border: 1.5px solid #ccc;
	border-radius: 2px;
}

.RewardText
{
	font-family: defaultFont;
	font-weight: bold;
	color: #e7e7e7;
	text-shadow: 1px 1px 2px 3 black;
	z-index: 8;
	align: center top;
	margin-top: 19%;
	margin-left: 15%;
	font-size: 20px;
	text-align: center;
}

.RewardIconRazor
{
	width: 48px;
	height: 35px;
	margin-left: 1%;
	background-size: 100%;
	visibility: visible;
	vertical-align: center;
	margin-bottom: 9%;
	border: 1.5px solid #ccc;
	border-radius: 2px;
}

.RewardIconGray
{
	width: 45px;
	height: 30px;
	background-size: 100%;
	visibility: visible;
	margin-left: 1%;
	vertical-align: center;
	margin-bottom: 8%;
	border: 1.5px solid #ccc;
	border-radius: 2px;
}

.DuelScorePanel
{
	width: 7.5%;
	height: 90%;
	background-image: url("s2r://panorama/images/custom_game/duel_count_png.vtex");
	background-size: 100%;
	margin-left: 22%;
	visibility: visible;
	z-index: 5;
}

.DuelScorePanelRight
{
	width: 7.5%;
	height: 90%;
	background-image: url("s2r://panorama/images/custom_game/duel_count_png.vtex");
	background-size: 100%;
	visibility: visible;
	margin-left: 2%;
	z-index: 5;
	flow-children: right;
}

.DuelScoreText
{
	font-family: defaultFont;
	font-weight: bold;
	color: #e7e7e7;
	text-shadow: 1px 1px 2px 3 black;
	z-index: 8;
	align: center center;
	font-size: 30px;
	text-align: center;
}

.DuelHero
{
	width: 71.6px;
	height: 43px;
	background-size: 100%;
	margin-left: 0%;
	visibility: visible;
	margin-left: 2%;
	border: 1.5px solid #ccc;
	border-radius: 2px;
}

.DuelHeroLeft
{
	width: 71.6px;
	height: 43px;
	background-size: 100%;
	margin-left: 0%;
	visibility: visible;
	margin-left: 2.2%;
	border: 1.5px solid #ccc;
	border-radius: 2px;
}

.DuelVS
{
	width: 10%;
	height: 95%;
	background-image: url("s2r://panorama/images/custom_game/duel_vs_png.vtex");
	background-size: 98% 98%;
	background-repeat: no-repeat;
	margin-bottom: 5%;
	visibility: visible;
	margin-left: 1.3%;
	z-index: 5;
}

