/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.AlchemistPanelMain
{
	width: 100%;
	height: 100%;
}

.AlchemistPanel
{
	align: center bottom;
	flow-children: right;
	visibility: collapse;
	margin-bottom: 170px;
	margin-right: 590px;
}

#AlchemistPoints
{
	background-image: url("s2r://panorama/images/custom_game/alchemist_points_png.vtex");
	background-size: 100%;
	width: 170px;
	height: 31px;
	z-index: 5;
}

#AlchemistNumber
{
	font-family: defaultFont;
	font-weight: bold;
	color: #e7e7e7;
	text-shadow: 1px 1px 2px 3 black;
	z-index: 8;
	align: center center;
	font-size: 19px;
	text-align: center;
}

#AlchemistProgress
{
	transition-property: width;
	transition-duration: 0.5s;
	background-image: url("s2r://panorama/images/custom_game/alchemist_progress_png.vtex");
	background-size: 100%;
	width: 95%;
	height: 84%;
	margin-top: 11%;
	margin-left: 2.5%;
	visibility: visible;
	z-index: 5;
}

