/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.ArcWardenUnits
{
	flow-children: down;
	vertical-align: top;
	horizontal-align: left;
	margin-top: 24%;
	margin-left: 1%;
	opacity: 0;
	z-index: -1;
}

.ArcWarden
{
	width: 89px;
	height: 50px;
	background-image: url("s2r://panorama/images/heroes/npc_dota_hero_arc_warden_png.vtex");
	background-size: 100%;
	margin-bottom: 10px;
	border: 1px solid black;
	brightness: 0.2;
}

.ArcWardenSelected
{
	brightness: 1.5;
	border: 1px solid #ccc;
}

