/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@keyframes 'TimerDuelAnimationClose'
{
	100%
	{
		transform: translate3d( -10%, 0, 0px );
		opacity: 0;
	}
	
	0%
	{
		transform: translate3d( 0, 0, 0px );
		opacity: 1;
	}
	
	20%
	{
		opacity: 1;
	}
	
}

.MainTimer
{
	width: 100%;
	height: 100%;
}

.AllDuelTimer
{
	width: 576px;
	height: 120px;
	background-image: url("s2r://panorama/images/custom_game/duel_panel_png.vtex");
	margin-top: 115px;
	margin-left: 20px;
	align: left top;
	visibility: collapse;
	z-index: 5;
	flow-children: down;
}

.AllDuelTimer_show
{
	animation-name: TimerDuelAnimationClose;
	animation-duration: 0.45s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: reverse;
	width: 576px;
	height: 120px;
	background-image: url("s2r://panorama/images/custom_game/duel_panel_png.vtex");
	margin-top: 115px;
	margin-left: 20px;
	align: left top;
	visibility: visible;
	z-index: 5;
	flow-children: down;
}

.DuelHeader
{
	width: 100%;
	height: 30%;
	visibility: visible;
	z-index: 5;
}

.DuelHeaderText
{
	font-family: defaultFont;
	font-weight: bold;
	color: #e7e7e7;
	text-shadow: 1px 1px 2px 3 black;
	z-index: 8;
	align: center center;
	font-size: 23px;
	text-align: center;
}

.DuelTimerBar
{
	background-image: url("s2r://panorama/images/custom_game/duel_timer_png.vtex");
	background-size: 100% 90%;
	background-repeat: no-repeat;
	width: 98%;
	margin-left: 1%;
	height: 30%;
	visibility: visible;
	z-index: 5;
}

.DuelTimerTime
{
	background-image: url("s2r://panorama/images/custom_game/duel_time_png.vtex");
	background-repeat: no-repeat;
	transition-property: width;
	transition-duration: 0.5s;
	background-size: 100% 83%;
	width: 99%;
	height: 100%;
	margin-top: 5%;
	margin-left: 0.5%;
	visibility: visible;
	z-index: 5;
}

.DuelTimerText
{
	font-family: defaultFont;
	font-weight: bold;
	color: #e7e7e7;
	text-shadow: 1px 1px 2px 3 black;
	z-index: 8;
	align: center center;
	font-size: 23px;
	margin-bottom: 5%;
	text-align: center;
}

.DuelLowPanel
{
	width: 100%;
	height: 40%;
	margin-left: 0%;
	visibility: visible;
	z-index: 5;
	flow-children: right;
}

.DuelScorePanel
{
	width: 7.5%;
	height: 90%;
	background-image: url("s2r://panorama/images/custom_game/duel_count_png.vtex");
	background-size: 100%;
	margin-left: 22%;
	visibility: visible;
	z-index: 5;
}

.DuelScorePanelRight
{
	width: 7.5%;
	height: 90%;
	background-image: url("s2r://panorama/images/custom_game/duel_count_png.vtex");
	background-size: 100%;
	visibility: visible;
	margin-left: 2%;
	z-index: 5;
	flow-children: right;
}

.DuelScoreText
{
	font-family: defaultFont;
	font-weight: bold;
	color: #e7e7e7;
	text-shadow: 1px 1px 2px 3 black;
	z-index: 8;
	align: center center;
	font-size: 30px;
	text-align: center;
}

.DuelHero
{
	width: 71.6px;
	height: 43px;
	background-size: 100%;
	margin-left: 0%;
	visibility: visible;
	margin-left: 1.5%;
}

.DuelHeroLeft
{
	width: 71.6px;
	height: 43px;
	background-size: 100%;
	margin-left: 0%;
	visibility: visible;
	margin-left: 2.2%;
}

.DuelVS
{
	width: 10%;
	height: 95%;
	background-image: url("s2r://panorama/images/custom_game/duel_vs_png.vtex");
	background-size: 98% 98%;
	background-repeat: no-repeat;
	margin-bottom: 5%;
	visibility: visible;
	margin-left: 1.3%;
	z-index: 5;
}

