/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.ButtonCheatPanel
{
	width: 48px;
	height: 48px;
	background-image: url("s2r://panorama/images/custom_game/show_talent_png.vtex");
	background-size: 100%;
	align: right center;
	margin-right: 1%;
	margin-top: 35%;
	visibility: collapse;
}

.ButtonCheatPanel:hover
{
	brightness: 1.2;
}

.ButtonCheatPanel:active
{
	brightness: 0.8;
}

.PanelChooseTypeCheat
{
	align: center center;
	flow-children: right;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.PanelChooseTypeCheatN
{
	align: center center;
	flow-children: down;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.HeroesSelected
{
	align: center center;
	flow-children: right;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.CheatPanel
{
	width: 343px;
	height: 474px;
	margin: 20px;
	background-image: url("s2r://panorama/images/custom_game/blue_skill_png.vtex");
	background-size: 100%;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.1s;
}

.CheatPanel:hover
{
	pre-transform-scale2d: 1.05;
}

.PlayerPanel
{
	width: 343px;
	height: 474px;
	margin: 20px;
	background-image: url("s2r://panorama/images/custom_game/orange_skill_png.vtex");
	background-size: 100%;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.1s;
}

.PlayerPanel:hover
{
	pre-transform-scale2d: 1.05;
}

.ImageCheat
{
	width: 100px;
	height: 100px;
	horizontal-align: center;
	margin-top: 46px;
	margin-left: 6px;
	background-color: red;
}

.TextCard
{
	align: center center;
	font-family: defaultFont;
	font-weight: bold;
	color: #e7e7e7;
	text-shadow: 1px 1px 2px 4 black;
	font-size: 28px;
	margin-bottom: 75px;
}

.hidden
{
	opacity: 0;
}

#Image_1
{
	background-image: url("s2r://panorama/images/custom_game/icons/items/gray_png.vtex");
	background-size: 100%;
}

#Image_2
{
	background-image: url("s2r://panorama/images/custom_game/icons/items/blue_png.vtex");
	background-size: 100%;
}

#Image_3
{
	background-image: url("s2r://panorama/images/custom_game/icons/items/purple_png.vtex");
	background-size: 100%;
}

.CheatsType
{
	align: center center;
	transition-property: opacity;
	transition-duration: 0.2s;
	background-color: rgba(10, 10, 10, 0.99);
	border-top: 2px solid #3a3632;
	border-bottom: 2px solid #3a3632;
	border-left: 2px solid #3a3632;
	border-right: 2px solid #3a3632;
	width: 790px;
	height: 700px;
}

.cheats_container
{
	width: 100%;
	height: 100%;
	flow-children: right-wrap;
}

.AblityPanel
{
	background-color: #3e4144;
	border: 1px solid #4e5155;
	height: 50px;
	width: 250px;
	transition-property: background-color, border, color;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	margin: 5px;
}

.AblityPanel:hover
{
	background-color: gradient( linear, 0% 0%, 70% 0%, from( #676b70 ), to( #3e4144 ) );
	border: 1px solid #686b70;
}

.AblityPanel:active
{
	background-color: #7E94B1;
	pre-transform-scale2d: 1.02;
}

.AbilityImage
{
	height: 100%;
	width: 50px;
}

.CheatName
{
	horizontal-align: center;
	vertical-align: middle;
	margin-left: 28px;
	color: #D8DADE;
	font-size: 16px;
	text-transform: uppercase;
	font-family: defaultFont;
	font-weight: normal;
	text-overflow: shrink;
	letter-spacing: 1px;
	text-align: center;
}

.BackButtonCheat
{
	width: 200px;
	height: 50px;
	background-color: red;
	vertical-align: bottom;
	margin: 10px;
	margin-bottom: 20px;
	background-image: url("s2r://panorama/images/custom_game/close_button_png.vtex");
	background-size: 100%;
	border: 1px solid #3a3632;
}

.CloseButtonCheat
{
	width: 200px;
	height: 50px;
	background-color: red;
	vertical-align: bottom;
	margin: 10px;
	margin-bottom: 20px;
	background-image: url("s2r://panorama/images/custom_game/close_button_png.vtex");
	background-size: 100%;
	saturation: 0;
	border: 1px solid #3a3632;
}

.UpdateButtonCheat
{
	width: 200px;
	height: 50px;
	background-color: red;
	vertical-align: bottom;
	margin: 10px;
	margin-bottom: 20px;
	background-image: url("s2r://panorama/images/custom_game/refresh_button_png.vtex");
	background-size: 100%;
	border: 1px solid #3a3632;
}

.TextButtonaCheat
{
	color: white;
	font-size: 28px;
	text-align: center;
	vertical-align: center;
	font-weight: semi-bold;
	font-family: Radiance;
	align: center center;
	text-transform: uppercase;
	text-shadow: 2px 2px 4px 3 black;
}

.BackButtonCheat:hover
{
	brightness: 1.2;
}

.BackButtonCheat:active
{
	brightness: 0.8;
}

.CloseButtonCheat:hover
{
	brightness: 1.2;
}

.CloseButtonCheat:active
{
	brightness: 0.8;
}

.UpdateButtonCheat:hover
{
	brightness: 1.2;
}

.UpdateButtonCheat:active
{
	brightness: 0.8;
}

.playerHero
{
	width: 100px;
	height: 100px;
	horizontal-align: center;
	margin-top: 46px;
	margin-left: 3px;
	background-color: red;
}

.ButtonChild
{
	horizontal-align: center;
	flow-children: right;
	vertical-align: bottom;
}

.EffectsTimer
{
	width: 350px;
	height: 300px;
	vertical-align: center;
	horizontal-align: right;
	flow-children: down;
}

.notification
{
	margin-top: 2px;
	margin-bottom: 2px;
	horizontal-align: right;
	height: 30px;
	background-image: url("s2r://panorama/images/hud/reborn/item_purchase_bg_psd.vtex");
	background-size: 100%;
	opacity: 0;
	transition-property: transform, opacity, position;
	transition-duration: 1s;
	transition-timing-function: ease-out;
	transform: translateX(500px);
	flow-children: right;
	box-shadow: black 0px 0px 4px;
}

.hero_icon_notif
{
	width: 24px;
	height: 24px;
	vertical-align: center;
	margin-left: 20px;
}

.skill_name_notiff
{
	vertical-align: center;
	margin-left: 20px;
	color: white;
	font-family: Reaver;
	font-size: 14px;
	width: 150px;
}

.time_notiff
{
	vertical-align: center;
	margin-left: 20px;
	color: white;
	font-family: Reaver;
	font-size: 14px;
	margin-right: 20px;
	text-align: center;
	width: 30px;
}

.visible
{
	opacity: 1;
	transform: translateX(0px);
}

.toggle_cheat
{
	border: 2px solid green;
}

