/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@keyframes 'EventOpen'
{
	0%
	{
		transform: translate3d( 100%, 0, 0px );
		opacity: 0;
	}
	
	100%
	{
		transform: translate3d( 0, 0, 0px );
		opacity: 1;
	}
	
}

@keyframes 'EventClose'
{
	0%
	{
		transform: translate3d( 0, 0, 0px );
		opacity: 1;
	}
	
	100%
	{
		transform: translate3d( 100%, 0, 0px );
		opacity: 0;
	}
	
}

.MainPickEvent
{
	width: 100%;
	height: 100%;
}

.PickEvent
{
	width: 347.52px;
	height: 499.8px;
	align: right center;
	margin-top: 25%;
}

.event
{
	animation-name: EventOpen;
	animation-duration: 0.45s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	width: 100%;
	height: 15.7%;
	flow-children: right;
}

.event_close
{
	animation-name: EventClose;
	animation-duration: 0.45s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	width: 100%;
	height: 15.7%;
	flow-children: right;
}

.text_box
{
	width: 58%;
	height: 70%;
	margin-top: 0%;
	margin-left: 3%;
	align: center center;
	flow-children: down;
}

.portrait
{
	margin-top: 23%;
	margin-left: 5%;
	width: 12.1%;
	height: 54%;
	background-size: contain;
}

.arrow
{
	margin-top: 20%;
	margin-left: 2%;
	width: 25%;
	height: 70%;
	background-size: contain;
	background-image: url("s2r://panorama/images/custom_game/arrow_png.vtex");
}

.skill_icon
{
	background-color: green;
	margin-top: 15%;
	margin-left: 3%;
	width: 15.7%;
	height: 70%;
	background-size: contain;
	box-shadow: fill #a100ec 0px 0px 2px 1px;
}

.text_level
{
	font-family: defaultFont;
	font-weight: bold;
	color: #dedede;
	text-shadow: 2px 2px 4px black;
	font-size: 19px;
	align: center center;
	width: 100%;
	height: 80%;
	text-align: left;
}

.text_skill
{
	font-family: defaultFont;
	font-weight: bold;
	color: #dedede;
	text-shadow: 2px 2px 4px black;
	font-size: 16px;
	vertical-align: center;
	horizontal-align: center;
	width: 100%;
	height: 100%;
	text-align: left;
}

