/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.TipButtonFull
{
	width: 100%;
	height: 100%;
}

#SwapTipType
{
	width: 25px;
	height: 25px;
	vertical-align: center;
	margin-left: 5px;
}

.type_1
{
	background-image: url("s2r://panorama/images/custom_game/tip_off_png.vtex");
}

.type_2
{
	background-image: url("s2r://panorama/images/custom_game/tip_sound_png.vtex");
}

.type_3
{
	background-image: url("s2r://panorama/images/custom_game/tip_on_png.vtex");
}

#TipPanel
{
	width: 150px;
	height: 40px;
	background-color: rgba(10, 10, 10, 0.79);
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	align: right top;
	margin-top: 14%;
	margin-right: 8px;
	tooltip-position: bottom;
	flow-children: right;
}

.TipText
{
	font-family: defaultFont;
	font-weight: bold;
	text-shadow: 2px 2px 4px black;
	font-size: 21px;
	vertical-align: center;
	horizontal-align: center;
	width: 100%;
	text-align: center;
	color: #dedede;
}

